@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root {
    --primary: #1D63ED;
    --secondary: #00084D;
    --text: #E5F2FC;
    --background: #17191E;
}

*, .font {
    font-family: "Geist Mono", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

html, body {
    background-color: var(--background);
    color: var(--text);
    width: 100%;
    height: 100%;
}